name: module3_task0
on:
  schedule:
  # workflow triggered each day
    - cron: '30 5, 17 * * *'
  push:
  # trigger each push event
    branches:
      - main

jobs:
  module3_task0:
    runs-on: ubuntu-latest
    steps:
      - name: checkout the repository
        uses: actions/checkout@v3
      - name: create neww workflow
        run: |
          git clone https://github.com/luciel53/holbertonschool-validation.git
          cd module3_task0
          make help
