name: module3_task0
on:
  schedule:
  # workflow triggered each day
    - cron: '30 5, 17 * * *'
  push:
  # trigger each push event
    branches:
      - master

jobs:
  module3_task0:
    runs-on: ubuntu-latest
    steps:
      - name: checkout the repository
        uses: actions/checkout@v3
      - name: create neww workflow
        run:
          cd module3_task0
          make help
